*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f3f1f1c7;

}

.logo-samu{
    width: 260px;
    display: block;
    margin: 10px auto;
}

main{
    width: 375px;
    background-color: #dcdcdccc;
    border-radius: 20px;
    margin: 0 auto 20px auto;
    padding: 44px 24px 23px 24px;
    box-shadow: 2.3px 1.55px 7px #272626;
}

label{
    font-weight: 400;
    font-size: 14px;
    color: #636262;
    line-height: 18px;
    margin-bottom: 6px;
}

select, #converted-value{
    height: 48px;
    width: 100%;
    border: 1px solid #BBBBBB ;
    border-radius: 4px;
    color: #555555;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
}

button{
    width: 327px;
    height: 48px;
    border-radius: 5px;
    background: #383739;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    border: none;
    margin-bottom: 36px;
    cursor: pointer;
}

button:hover{
     background: #383739be;
     transition: 0.3s;
}

button:active{
    background: #38373986;
}

/*section converted*/

.converted{
    width: 327px;
    height: 276px;
    border: solid 1px #938b76;
    border-radius: 20px;
    padding: 12px;
}

.boxReal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.converted-real, .converted-currency{
    font-weight: 550;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

.arrowImg{
    display: block;
    margin: 0 auto;
}

.boxDolar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.converted-valor-real, .converted-valor-dolar{
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #555555;
}

.currency-img{
    width: 44px;
    height: 44px;
}
